<header>
  <a href="/"><img src="{{eventlogo}}" alt="{{eventname}} Logo" /></a>
  <ul>
    <li><a href="/rules">Rules</a></li>
    <li><a href="/challenges">Challenges</a></li>
    <li><a href="/scoreboard">Scoreboard</a></li>
    {{! TODO: Custom affiliation scoreboard }}
    <li><a href="/faq">FAQ</a></li>
    {{#if discordlink}}
      <li><a href="{{discordlink}}" target="_blank">Discord</a></li>
    {{/if}}
    {{#if user}}
      <li>{{user}}</li>
      {{#if team}}
        <li><a href="/team/{{team.id}}">{{team.name}}</a></li>
      {{else}}
        <li><a href="/update_team">Create/Join Team</a></li>
      {{/if}}
      <li><a href="/settings">Settings</a></li>
      <li><a href="/logout">Logout</a></li>
    {{else}}
      <li><a href="/register">Register</a></li>
      <li><a href="/login">Log in</a></li>
    {{/if}}
  </ul>
</header>