<!DOCTYPE html>
<html lang="en">
{{> head title=eventname}}

<body>
    {{> header }}
    <img src="{{eventlogo}}" alt="{{eventname}} logo">
    <h1>Welcome to {{eventname}}!</h1>
    <div class="countdown">
        {{!-- TODO --}}
    </div>
    <div>
        {{#if starttime}}
            <h2>Starts time: <b>{{starttime}}</b></h2>
        {{/if}}
        {{#if endtime}}
            <h2>End time: <b>{{endtime}}</b></h2>
        {{/if}}
    </div>
    <p>Made by the <a href="https://github.com/BCACTF" target="_blank">BCA CTF Club</a>.</p>
    {{> footer }}
</body>

</html>